alias youtube='youtube-dl -t'
alias serve='python -m SimpleHTTPServer'
alias sfab='fab -f ~/.sfab/fabfile.py'
alias top='htop'
alias svnscrub='find . -name .svn -exec rm -rf {} \;'
alias origscrub="find . -name '*.orig' -exec rm -rf {} \;"
alias ports='sudo lsof -i -P | grep -i "listen"'
alias dnsflush='dscacheutil -flushcache'
alias dmesg="sudo dmesg"
alias rest2html-css='rst2html --embed-stylesheet --stylesheet-path=/usr/share/python-docutils/s5_html/themes/default/print.css'
alias ls='ls -G'
alias lime='lime'
alias scratchdisk='diskutil erasevolume HFS+ "Scratch" `hdiutil attach -nomount ram://16384000`'
alias gitx='gitx -c'
alias mate='lime -n'
alias krup='python setup.py register -r krpip sdist upload -r krpip'
alias krpip='pip install -i http://krpip.ep.io/simple'
alias vim="/usr/local/bin/mvim -v"

alias muffin='ssh bessie@muffin.local'
alias zum='ssh root@zumhosting.com'
alias ssh-rdd='ssh -i ~/.ssh/readabilitykey.pem'
alias ssh-kr='ssh -i ~/.ssh/kr.pem'

function site-packages (){
  $( which $1) -c "from distutils.sysconfig import get_python_lib; print get_python_lib()"
}

function mk (){
  mkvirtualenv --no-site-packages -p $( which $1) $2
  echo "/Users/kreitz/.virtualenvs/$2/" > .workon
}

function mktmp (){
  mktmpenv --no-site-packages -p $( which $1) $2
}

function mktmp (){
  mktmpenv --no-site-packages -p $( which $1) $2
  echo "/Users/kreitz/.virtualenvs/$2/" > .workon
}

function git-plane(){
  codeplane repo:add $1
  git remote set-url --add origin git@codeplane.com:kennethreitz/$1.git
  git push --all
  git push --tags
}
function sshuttle(){
    /usr/local/bin/sshuttle -r $1 0.0.0.0/0 -vv
}

function datedir(){
    echo `date '+%Y-%m-%d'`
    mkdir `date '+%Y-%m-%d'`
}

function get_defaults(){

  find $1 -type f -exec strings {} \; | awk '/^values.[^ ]+$/ { sub("values.", ""); print }'
}



wiki() {
        dig +short txt $1.wp.dg.cx
    }

function gh-get () {
  curl -#O $(echo $1 | sed 's|blob|raw|')
}



beep() {
    echo -n '\a'
}


function tabc {
  NAME=$1; if [ -z "$NAME" ]; then NAME="Default"; fi
  osascript -e "tell application \"Terminal\" to set current settings of front window to settings set \"$NAME\""
}


